body{ margin:0;}


header {
	display:flex;
	justify-content:space-between;
	padding:0px;padding-right:40px;
	align-items:center;
	background-color:rgb(234,0,42);
	border-top:2px solid gold;
	
	}

header a {
 	color:white;
	padding:12px;
	font-size:20px;
	text-decoration:none;
	font-family:'gilroy';
	}

header a:hover {
	color:gold;
}

.search {
	align-items:center;
	padding-left:7px;
}

.button_search {
		display:flex;
		padding:3px;		
		align-items:center;
}

button {
	width: 50px;
	cursor: pointer;
	border: none;
	background-color: transparent;
	
}

.button_search img {
	width:100%;
	image-orientation: from-image;;
}

.barnav a {
 	color:white;
	padding:12px;
	font-size:20px;
	text-decoration:none;
	font-family:'gilroy';
	padding:0px 20px;
	
	}

.barnav a:hover {
	color:gold;
}

.barnav {
	background-color:rgb(234,0,42);
	display:flex;
	justify-content:center;
	padding-bottom: 6px;
}

.product {
	 	  	
}

.banner_product {
	display:flex;
	background-color:rgb(0,156,222);
	display:flex;
	justify-content:space-between;
	align-items:center;
	border-bottom:30px solid gold;
		
}

.banner_product img {
	width: 500px;
	margin-left: 200px;
	margin-top:40px;
}

.banner_txt {
	display: flex;
	flex-direction: column;
	margin-right: 180px;
	color: antiquewhite;
}

.banner_txt h1 {
	font-size: 70px;
	font-family: 'Luckiest Guy', sans-serif;
	font-style: normal;
	margin: 0;	
}

.banner_txt p:first-child {
	font-size: 20px;
	font-family: 'Luckiest Guy';
	font-style: normal;
	
}

.banner_txt p:last-child {
	font-size: 15px;
}

.banner_txt .sabores {
	background-color:rgb(234,0,42);
	text-align: center;
	border: 2px solid white;
	border-radius: 10px;
	font-size: 30px;
	font-family: 'Luckiest Guy';
	font-style: normal;
	text-decoration: none;
	color: antiquewhite;
	padding: 10px;	
}

.banner_txt a:hover {
	background-color: white;
	color: rgb(234,0,42);
	border: 2px solid rgb(234,0,42);
	border-radius: 10px;
}